<h2>Game Rules</h2>

<p>
  Welcome to <strong>Showdown</strong> – a competitive quiz game for two teams.
</p>

<ol>
  <li>
    The game is played in <strong>turns</strong>. At any given time, one team is considered to be <em>in turn</em> (<strong><em>active</em></strong>), while the other is <strong><em>passive</em></strong>.
  </li>
  <li>
    At the start of a turn, the <strong><em>passive team</em></strong> selects a category for the <strong><em>active team</em></strong>.
  </li>
    <li>
    Each category contains 6 questions. One of these questions includes a hidden bonus question, revealed only if the main question is answered correctly.
  </li>
  <li>
    The active team then <strong>picks a question</strong> from that category.
  </li>
  <li>
    After the question is opened, the active team can choose how to answer:
    <ul>
      <li><strong>Open Answer</strong> – straight answer; worth <strong>3 points</strong> if correct.</li>
      <li><strong>Ask for Tips</strong> – 4 possible answers are revealed and the active team chooses one of them; worth <strong>1 point</strong> if correct.</li>
    </ul>
  </li>
  <li>
    If the active team answers incorrectly, the passive team gets a chance to attempt a <strong>steal</strong>. A successful steal is worth <strong>2 points</strong>.
  </li>
  <li>
    If the main question has a bonus and it was answered correctly, the bonus question is unlocked. Answering it correctly earns an additional 1 point.
  </li>
  <li>
    After the turn ends, teams switch roles and the game continues.
  </li>
  <li>
    The game ends when all questions have been answered. The team with the most points wins!
  </li>
</ol>

<p>Good luck and have fun!</p>

<button routerLink="/" class="back-button">Back</button>
